<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>管理员登录</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-3 col-sm-2 col-xs-1"></div>
        <div class="col-lg-4 col-md-6 col-sm-8 col-xs-10">
            <form class="form-signin" role="form" action="/admins/login" method="post">
                <h2 class="form-signin-heading">大东车慧管理后台</h2>
                <input name="email" type="text" class="form-control" placeholder="工作邮箱" required="" autofocus="">
                <input name="password" type="password" class="form-control" placeholder="密码" required="">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me">记住我
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
            </form>
        </div>
        <div class="col-lg-4 col-md-3 col-sm-2 col-xs-1"></div>
    </div>

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</div>
</body>
</html>