
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
    <title>大东车慧</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="css/style.s.css">
    <script>
        var imgUrl = " ";
        var lineLink = "链接";
        var descContent = '';
        var shareTitle = '大东车慧';
        var appid = '';

        function shareFriend() {
            WeixinJSBridge.invoke('sendAppMessage',{
                "appid": appid,
                "img_url": imgUrl,
                "img_width": "200",
                "img_height": "200",
                "link": lineLink,
                "desc": descContent,
                "title": shareTitle
            }, function(res) {
                //_report('send_msg', res.err_msg);
            })
        }
        function shareTimeline() {
            WeixinJSBridge.invoke('shareTimeline',{
                "img_url": imgUrl,
                "img_width": "200",
                "img_height": "200",
                "link": lineLink,
                "desc": descContent,
                "title": shareTitle
            }, function(res) {
                //_report('timeline', res.err_msg);
            });
        }
        function shareWeibo() {
            WeixinJSBridge.invoke('shareWeibo',{
                "content": descContent,
                "url": lineLink,
            }, function(res) {
                //_report('weibo', res.err_msg);
            });
        }
        // 当微信内置浏览器完成内部初始化后会触发WeixinJSBridgeReady事件。
        document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
            // 发送给好友
            WeixinJSBridge.on('menu:share:appmessage', function(argv){
                shareFriend();
            });
            // 分享到朋友圈
            WeixinJSBridge.on('menu:share:timeline', function(argv){
                shareTimeline();
            });
            // 分享到微博
            WeixinJSBridge.on('menu:share:weibo', function(argv){
                shareWeibo();
            });
        }, false);
    </script>
</head>
<body>
<div class="nav">
    <div class="button">
        <img src="img/button_b.png">
    </div>
    <ul class="nav_list">
        <li class="button_c"><img src="img/button.png"></li>
        <li><a href="#">首 页</a></li>
        <li><a href="javascript:void(0);">理 念</a></li>
        <li><a href="javascript:void(0);">产 品</a></li>
        <li><a href="javascript:void(0);">服 务</a></li>
        <li><a href="javascript:void(0);">支 持</a></li>
        <li><a href="javascript:void(0);">反馈</a></li>
    </ul>
</div>
<div id="J_wrapper" class="content hide">
    <div class="wrapper">
        <ul class="container">
            <li class="page page1_1">
                <div class="content">
                    <div class="g_back">
                        <img src="img/page1-Layer-10.png">
                    </div>
                    <div class="g_indquanName">
                        <img src="img/page1-Layer-12-copy-2.png" />
                    </div>
                    <div class="g_jingcaiP">
                        <img src="img/page1-Layer-6.png" />
                    </div>
                    <div class="g_newYeazhao">
                        <img src="img/page1-Group-2.png" />
                    </div>
                    <div class="g_pinLogo">
                        <img src="img/logo.png" />
                    </div>
                    <div class="icos_arrow"></div>
                </div>
            </li>
            <li class="page page2_1">
                <div class="content hide">
                    <div class="g_back2">

                    </div>
                    <div class="g_weareTell">
                        <img src="img/page2-05CrashProofCarSpot-1397488823008.png" />
                    </div>
                    <div class="g_paga2five">
                        <img src="img/page2-Group-2.png" />
                    </div>
                    <div class="g_pinLogo">
                        <img src="img/logo.png" />
                    </div>
                    <div class="icos_arrow"></div>
                </div>
            </li>
            <li class="page page2_2">
                <div class="content hide">
                    <div class="g_wecandoIt">
                        <img src="img/page3-Layer-4.png" />
                    </div>
                    <div class="g_paga2five">
                        <img src="img/page3-Distance.png" />
                    </div>
                    <div class="g_pinLogo3">
                        <img src="img/page3-People-cars-dialogue.png" />
                    </div>
                    <div class="icos_arrow"></div>
                </div>
            </li>
            <li class="page page5_1">
                <div class="content hide">
                    <div class="g_kehuNiuxin">
                        <img src="img/page4-safe.png" />
                        <img src="img/page4-Timely-rescue-collision-warning.png">
                    </div>
                    <div class="g_shuJdian">
                        <img src="img/page4-Layer-3.png">
                    </div>
                    <div class="g_theMan">
                        <img src="img/page4-Big-East-APP-using-two-dimensional-code-scanning.png">
                    </div>
                    <div class="icos_arrow"></div>
                </div>
            </li>
            <li class="page page5_2 ">
                <div class="content hide">
                    <div class="g_shuJdian1">
                        <img src="img/page5-The-best-operating-experience.png" />
                    </div>
                    <div class="g_theMan1">
                        <img src="img/page5-Layer-8.png" />
                        <img src="img/page5-Layer-9.png">
                    </div>
                    <div class="icos_arrow"></div>
                </div>
            </li>

            <li class="page page3_1">
                <div class="content hide">
                    <div class="c-page8-word1"></div>
                    <div class="g_shuJdian2">
                        <img src="img/page6-Group-2.png" />
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<script src="js/jquery-1.8.0.min.js"></script>
<script src="js/halo.js"></script>
<script>
    var button = $('.button'),
            button_c = $('.button_c'),
            nav_list = $('.nav_list');

    button_c.click(function (){
        nav_list.addClass("nav_list_a").removeClass("nav_list_b");
        button.addClass("button_a").removeClass("button_b");

    });
    button.click(function (){
        nav_list.addClass("nav_list_b").removeClass("nav_list_a");
        button.addClass("button_b").removeClass("button_a");

    });



    var J_wrapper = document.getElementById('J_wrapper');


    halo.use('yscroll', 'loader',function(m){
        var loader = new m.loader(['img/loading.png','img/img_1.png','img/img_2.png']).loadend(function(){
            // J_percent.innerHTML = parseInt(this.percent);

            if(this._index == 3){
                m.removeClass(J_wrapper, 'hide');
            }
        }).complete(function(){
            // m.addClass(J_loading, 'hide');

            var _last_idx = 0;
            var wrapper_scroll = new m.yscroll('.wrapper', {
                Scontainer : '.container',
                hScroll : false,
                vScroll : true,
                momentum : true,
                bounce : false,
                snap: true,
                scrollBefore: function(name, e){
                },
                onScroll: function(name, obj){
                },
                onTouchEnd: function(name, obj){
                },
                scrollEnd: function(index){
                    var pages = this.$li;
                    for (var i = 0; i < pages.length; i++) {
                        halo.util.addClass(pages[i].querySelector('.content'), 'hide');
                    };
                    halo.util.removeClass(pages[index].querySelector('.content'), 'hide');
                }
            });

            a.addEventListener('touchstart', function(e){
                window.open('http://chinatelling.zhiye.com');
            });

        });
    });

    var browser={
        versions:function(){
            var u = navigator.userAgent, app = navigator.appVersion;
            return {//移动终端浏览器版本信息
                trident: u.indexOf('Trident') > -1, //IE内核
                presto: u.indexOf('Presto') > -1, //opera内核
                webKit: u.indexOf('AppleWebKit') > -1, //苹果、谷歌内核
                gecko: u.indexOf('Gecko') > -1 && u.indexOf('KHTML') == -1, //火狐内核
                mobile: !!u.match(/AppleWebKit.*Mobile.*/)||!!u.match(/AppleWebKit/), //是否为移动终端
                ios: !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/), //ios终端
                android: u.indexOf('Android') > -1 || u.indexOf('Linux') > -1, //android终端或者uc浏览器
                iPhone: u.indexOf('iPhone') > -1 || u.indexOf('Mac') > -1, //是否为iPhone或者QQHD浏览器
                iPad: u.indexOf('iPad') > -1, //是否iPad
                webApp: u.indexOf('Safari') == -1, //是否web应该程序，没有头部与底部
                weixin:u.indexOf('MicroMessenger')>-1
            };
        }(),
        language:(navigator.browserLanguage || navigator.language).toLowerCase(),
        versionNum:function(){
            /*版本号,只针对android*/
            var u = navigator.userAgent,matchIndex=u.indexOf('Android');
            if(matchIndex>-1){
                var num=u.substring(matchIndex+7,matchIndex+11).replace(' ','');
                return parseFloat(num);
            }
            return '';
        }(),
        avail:function(){
            return {width:document.documentElement.clientWidth,height:document.documentElement.clientHeight};
        }()
    };

    if(parseFloat(browser.versionNum) <= 2.3){
        halo.util.addClass(J_wrapper, 'andoird2-3');
    }

</script>

</body>
</html>
