<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>大东车慧</title>
</head>
<link rel="shortcut icon" href="images/logo_z.png">
<link rel="stylesheet" href="css/global.css">
<link rel="stylesheet" type="text/css" href="css/style.css" id="style">

<body style="height:100%;">
<div class="nav">
    <div class="nav_left"><a href="#"><img src="images/logo.png"></a></div>
    <ul class="nav_right">
        <li><a href="#">首页</a></li>
        <li><a href="javascript:void(0);">理念</a></li>
        <li><a href="javascript:void(0);">产品</a></li>
        <li><a href="javascript:void(0);">服务</a></li>
        <li><a href="javascript:void(0);">支持</a></li>
        <li><a href="javascript:void(0);">反馈</a></li>
    </ul>
</div>
<div id="contpar" class="contpar">
    <div class="cont cont0">
        <div class="png keymouse"><img class="png" src="images/cont0_keymouse_star.png" alt="大东车慧"></div>
        <div id="btn_down" class="png btn_down"></div>
        <div class="btndowntit">向下滚动</div>
    </div>
    <div class="cont cont1">
        <div class="png videopar" id="videopar">
            <div class="left">
                <img src="images/page2-05CrashProofCarSpot-1397488823008.png">
            </div>
            <div class="right">
                <img src="images/page2-Group-2.png">
            </div>
        </div>
    </div>
    <div class="cont cont2">
        <div class="cont2_wrap">
            <div class="cont2_img1"><img src="images/page3-People-cars-dialogue.png"></div>
            <div class="cont2_img2"><img src="images/page3-Layer-4.png"></div>
            <div class="cont2_img3"><img src="images/page3-Distance.png"></div>
        </div>
    </div>
    <div class="cont cont3">
        <div class="cont3_wrap">
            <div class="cont3_img1">
                <img src="images/page4-safe.png">
                <img src="images/page4-Timely-rescue-collision-warning.png">
            </div>
            <div class="cont3_img2"><img src="images/page4-Layer-3.png"></div>
            <div class="cont3_img3"><img src="images/page4-Big-East-APP-using-two-dimensional-code-scanning.png"></div>
        </div>
    </div>
    <div class="cont cont4">
        <div class="con4_back"></div>
        <div class="cont4_img1">
            <a href="#"><img src="images/page5-Layer-8.png"></a>
            <a href="#"><img src="images/page5-Layer-9.png"></a>
        </div>
        <div class="cont4_img2">
            <div><img src="images/page5-Layer-11.png"></div>
            <div class="cont4_img3"><img src="images/page5-The-best-operating-experience.png"></div>
        </div>
    </div>
    <div class="cont cont5">
        <div class="cont5_img1"><img src="images/page6-Layer-2.png"></div>
        <div class="cont5_img2"><img src="images/page6-Group-2.png"></div>
    </div>
</div>
<!-- <div class="cont cont6">

</div> -->
</div>

<ul class="btnlistpar" id="btnlistpar">
    <a class="png mar-t-0" onClick="highline.scroll_To($('.cont0'))"></a>
    <a class="png" onClick="highline.scroll_To($('.cont1'))"></a>
    <a class="png" onClick="highline.scroll_To($('.cont2'))"></a>
    <a class="png" onClick="highline.scroll_To($('.cont3'))"></a>
    <a class="png" onClick="highline.scroll_To($('.cont4'))"></a>
    <a class="png" onClick="highline.scroll_To($('.cont5'))"></a>
    <!-- <a class="png" onClick="highline.scroll_To($('.cont6'))"></a> -->
</ul>

<div class="btn-up"></div>
<div class="btn-down"></div>

<script type="text/javascript" src="js/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="js/jquery.mousewheel.js"></script>
<script type="text/javascript" src="js/vender.js"></script>
<script src="js/slides.min.jquery.js"></script>

<script type="text/javascript" src="js/common.js"></script>


<!--[if IE 6]>
<script language="javascript" type="text/javascript" src="js/ie6_png.js"></script>
<script language="javascript" type="text/javascript">
    DD_belatedPNG.fix(".png");
</script>
<![endif]-->


</body>
</html>