<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <a class="navbar-brand" href="/admin"><%= title %></a>
        <p class="navbar-text"><%=admin.name%></p>
        <a type="button" class="btn btn-default navbar-btn navbar-right" href="/admins/logout">登出</a>
    </div>
</nav>