<div class="col-sm-2">
    <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="/admins/dashboard">管理员</a></li>
        <li><a href="/admins/showAll">管理员列表</a></li>
        <li><a href="/admins/users/showAll">用户列表</a></li>
        <li><a href="#">定制日报</a>
            <ul>
                <li><a href="#">类型管理</a>
                    <ul>
                        <li><a href="/admins/daliyPaper/type/level1/showAll">一级栏目类型</a></li>
                        <li><a href="/admins/daliyPaper/type/level2/showAll">二级栏目类型</a></li>
                    </ul>
                </li>
                <li><a href="/admins/daliyPaper/content/showAll/1">内容管理</a></li>
            </ul>
        </li>
        <li><a href="#">你的声音</a>
        <ul>
            <li><a href="/admins/yourVoice/type/showAll">类型管理</a></li>
            <li><a href="/admins/yourVoice/content/showAll">内容管理</a></li>
        </ul>
        </li>
        <li><a href="/admins/OBDErrorCode/showAll">故障码管理</a>
        </li>
    </ul>
</div>