<!doctype html>
<html lang="zn-ch">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<form method='post' action='/users/postPic' enctype='multipart/form-data' >
    <input type="text" name="phone"/><br>
    <input type="file" name='file1'/><br>
    <input type="submit" />
</form>
</body>
</html>