@charset "UTF-8";a,button,input{-webkit-tap-highlight-color:transparent;outline:0}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;vertical-align:baseline}
img{border:0 none;-webkit-tap-highlight-color:rgba(0,0,0,0.2)}
i,em{font-style:normal}
ol,ul{list-style:none}
input,select,h1,h2,h3,h4,h5,h6{font-size:100%}
table{border-collapse:collapse;border-spacing:0}
a{text-decoration:none;color:#333}
body{margin:0 auto;min-width:320px;max-width:640px;height:100%;font-size:14px;font-family:Helvetica,STHeiti STXihei,Microsoft JhengHei,Microsoft YaHei,Arial;line-height:1.5;color:#666;-webkit-text-size-adjust:100%;-webkit-user-select:none;user-select:none}
body{max-width:640px;min-width:320px;padding:0;margin:0 auto;font-family:"Microsoft YaHei"}
ul,li,dl,dt,dd{padding:0;margin:0;list-style-type:none}
img{max-width:100%;display:block}
.clearfix:after,.jianli_ul li:after{content:"\200B";display:block;height:0;clear:both}
.clearfix,.jianli_ul li{*zoom:1}
@-webkit-keyframes ani_arrow{0%{opacity:0;-webkit-transform:translateY(10px);transform:translateY(10px)}
40%{opacity:1;-webkit-transform:translateY(4px);transform:translateY(4px)}
100%{opacity:0;-webkit-transform:translateY(-4px);transform:translateY(-4px)}
}
.hide{display:none}
html,body{height:100%}
body{background-color:#3abaf7;}
.content,.wrapper{height:100%}
.page1_container{display:-webkit-box}
.icos_1,.mp_loading_coffee i,.icos_cafee i,.icos_cafee2 i,.icos_arrow:before{background-image:url(../img/img_1.png);background-repeat:no-repeat;background-size:317px 415px}
.icos_2,.icos_we i:after,.page3_1 .paper_1,.page4_1 .icos_building .building,.page4_1 .icos_building .building2,.page4_1 .icos_building .building3,.page4_2 .icos_people3_bg i,.mask:before,.jianli_ul li .cpy .cpy_tag:after,.warp_input.input_slc i,.warp_input.input_plus i{background-image:url(../img/img_2.png);background-repeat:no-repeat;background-size:500px 1500px}
.landscape{display:none;height:100%}
@media screen and (orientation:landscape){.landscape{height:100%;display:block;background-color:#cd2737}
.landscape .iphone{background-image:url(../img/iphone.png?t=20140611);background-repeat:no-repeat;width:73px;height:109px;position:absolute;left:50%;top:50%;margin-top:-54px;margin-left:-36px;background-size:73px 109px;animation:zhuan 1.5s;-moz-animation:zhuan 1.5s;-webkit-animation:zhuan 1.5s;-o-animation:zhuan 1.5s;-webkit-animation-iteration-count:infinite;-webkit-animation-delay:.3s}
.landscape .iphone_text{width:173px;height:29px;text-align:center;position:absolute;left:50%;top:50%;margin-top:71px;margin-left:-86px;color:#fff}
.content{display:none}
}
.icos_arrow{position:absolute;width:50px;height:30px;bottom:10px;left:50%;margin-left:-25px;opacity:0;-webkit-animation:ani_arrow 1.2s ease-in 0s infinite;-moz-animation:ani_arrow 1.2s ease-in 0s infinite;-ms-animation:ani_arrow 1.2s ease-in 0s infinite;animation:ani_arrow 1.2s ease-in 0s infinite;z-index:200;}
.icos_arrow:before{width:20px;height:15px;content:'';position:absolute;left:15px;top:8px;background-position:-0px -188px;z-index:200;}
body{color:#fff;font-size:12px;line-height:1.5}
.page{position:relative;overflow:hidden}
.btn{margin-top:10px;width:80px;height:30px;-webkit-border-radius:15px;-moz-border-radius:15px;-ms-border-radius:15px;-o-border-radius:15px;border-radius:15px;background-color:#fff;font-size:12px;text-align:center;line-height:30px;display:inline-block;-webkit-animation:blink .3s linear .6s 1;-moz-animation:blink .3s linear .6s 1;-ms-animation:blink .3s linear .6s 1;animation:blink .3s linear .6s 1;opacity:0;-webkit-animation-fill-mode:forwards}
.btn.green{color:#006d8a}
.btn.yellow{color:#ffba5f}
.btn.orange{color:#ff6752}
.btn.pink{color:#573895}
.btn.red{color:#cd2737;width:104px;height:30px}
.page1_1{background-color: #3abaf7;}
.page2_container{display:-webkit-box}
.page2{background-color:#ffba5f}
.page2_1{background-color: #ff7f58;}
.page2_2{background-color: #59afff;}
.page3_container{display:-webkit-box}
.page_3{background-color:#ff6752}
.page3_1{background-color:#1ea9e9;}
body{background-color:#3abaf7;}
.page3_2{background-color:#ff6752}

.page4_container{display:-webkit-box}
.page_4{background-color:#006d8a}
.page4_1{background-color:#ff6158;}


.page4_2{background-color:#e23163;}
.page5_container{display:-webkit-box}
.page_5{background-color:#573895}
.page5_1{background-color: #9ad159;}
.page5_2{background:url(../img/5bg.jpg) no-repeat;height:100%;background-size:100% 100%;width:100%;}
.page6{background-color:#cd2737}
.content{overflow:hidden}
.content a{-webkit-tap-highlight-color:rgba(0,0,0,0.2)}
.jianli_hd{height:57px;line-height:57px;border-bottom:1px solid #dee4e7}
.jianli_ul_1{height:210px}
.jianli_ul_2{height:260px}
.jianli_ul li{position:relative;border-bottom:1px solid #dee4e7;min-height:44px;line-height:44px}
.jianli_ul li.error{background-color:#ffc}
.jianli_ul li .cpy{line-height:30px;margin-right:38px;max-height:120px;padding-bottom:8px;overflow:hidden}
.jianli_ul li .cpy .cpy_tag{display:inline-block;margin:11px 0 0 0;padding:4px 20px 4px 10px;-webkit-border-radius:15px;-moz-border-radius:15px;-ms-border-radius:15px;-o-border-radius:15px;border-radius:15px;line-height:20px;background-color:#333;position:relative;margin-right:5px}
.jianli_ul li .cpy .cpy_tag:after{content:'';position:absolute;right:3px;top:6px;text-align:center;line-height:15px;width:15px;height:15px;background-position:-485px -332px}
.jianli_ul li .s_plus{position:absolute;width:25px;height:25px;right:10px;top:10px;opacity:0}
.warp_input{width:67%;position:relative;float:left}
.warp_input.input_slc i{position:absolute;width:25px;height:25px;right:10px;top:10px;background-position:-480px -295px;background-color:#cd2737;-webkit-border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;-o-border-radius:50%;border-radius:50%}
.warp_input.input_plus i{position:absolute;width:25px;height:25px;right:10px;top:10px;background-position:-480px -345px;background-color:#cd2737;-webkit-border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;-o-border-radius:50%;border-radius:50%}
.warp_input:after{content:'';clear:both}
input{vertical-align:middle;height:30px;border:0;padding:2px 4px;color:#5e7684;-webkit-appearance:none;font-size:14px;width:100%;background:transparent}
select{width:100%;display:block;font-size:14px;position:relative;height:43px;line-height:43px;-webkit-appearance:none;-webkit-border-radius:0;border:0;padding:0 16px 0 5px;background:transparent}
.jianli_ul label{width:30%;text-align:center;display:block;float:left;color:#999;font-size:14px}
.jingli{border:0}
.hide{display:none}
.submit{margin-top:10px;width:136px;height:40px;border-radius:20px;background-color:#cd2737;font-size:15px;text-align:center;line-height:40px;color:#fff;position:absolute;left:50%;margin-left:10px;bottom:20px}
.submit.pre{color:#999;margin-left:-145px;border:1px solid #dee4e7;background-color:#fff}
.submit.next{color:#999;margin-left:-68px;border:1px solid #dee4e7;background-color:#fff}
.content2{height:210px}
.submit_ok{position:absolute;left:50%;top:50%;width:165px;height:40px;margin:10px 0 0 -82px;color:#5e7684;text-align:center}
.submit_ok:before{content:'';position:absolute;width:65px;height:50px;top:-55px;left:50%;margin-left:-32px;background-image:url(../img/img_2.png);background-repeat:no-repeat;background-size:500px 1500px;background-position:0 -1258px}
.suoxiao{-webkit-transform:scale(0.8) translateY(-10%);-webkit-transition:all .6s ease-in}

/*技术类岗位*/
.c-page5-title{width:46%;position:absolute;z-index:3;left:11.8%;top:4.6%;}
.c-page5-title img{width:100%;}
.c-page5-word{width:84%;position:absolute;z-index:3;left:11.8%;top:15%;}
.c-page5-word p{font-size:1.15em;color:white;font-family:"微软雅黑";}
.c-page5-word p:nth-child(1){font-weight:bold;font-size:1.6em;}
.c-page5-word img{width:100%;}
.c-page5-computer{width:23.4%;position:absolute;z-index:7;left:39.2%;bottom:5.4%;}
.c-page5-computer1{width:100%;}
.c-page5-computer2{width:61%;position:absolute;z-index:8;left:19.5%;top:7%;}
.c-page5-people{width:43%;position:absolute;z-index:6;left:44.4%;bottom:2.1%;}
.c-page5-people img{width:100%;}
.c-page6-title{width:46%;position:absolute;z-index:3;left:35%;top:4.6%;}
.c-page6-title img{width:100%;}
.c-page6-word{width:58%;position:absolute;z-index:3;left:35%;top:16%;}
.c-page6-word img{width:100%;}
.c-page6-people{width:37.1%;position:absolute;z-index:6;left:13.3%;bottom:3.9%;}
.c-page6-people img{width:100%;}
.c-page6-circle{width:32.5%;position:absolute;z-index:4;left:29.2%;bottom:21.5%;/*background:url(../img/6circle.png) no-repeat;height:26.6%;background-size:100% 100%;*/}
.c-page6-circlepic{width:100%;}
.c-page6-num1{position:absolute;z-index:5;left:18%;top:-11%;width:17%;}
.c-page6-num2{position:absolute;z-index:5;left:90.6%;top:28%;width:34.5%;}
.c-page6-num3{position:absolute;z-index:5;left:53.5%;top:93%;width:22%;}
.c-page7-title{width:48%;position:absolute;z-index:3;left:39%;top:4%;}
.c-page7-title img{width:100%;}
.c-page7-word{width:53%;position:absolute;z-index:3;left:39%;top:14.8%;}
.c-page7-word img{width:100%;}
.c-page7-people{width:51%;position:absolute;z-index:6;left:6%;bottom:2%;}
.c-page7-people img{width:100%;}
.c-page7-box{width:45%;position:absolute;z-index:4;left:25%;bottom:8%;}
.c-page7-box img{width:100%;}
.c-page8-word1{width:36%;position:absolute;z-index:3;right:32%;top:16.2%;}
.c-page8-word1 img{width:100%;}
.c-page8-word2{width:20%;position:absolute;z-index:3;right:40%;top:25%;}
.c-page8-word2 img{width:100%;}
.c-page8-email{width:25%;position:absolute;z-index:3;right:35.5%;top:46%;}
.c-page8-email a{display:block;width:100%;height:100%;}
.c-page8-email img{width:100%;}
.c-page8-logo{width:38%;position:absolute;z-index:3;right:31%;bottom:2.8%;}
.c-page8-logo img{width:100%;}
@media screen and (min-device-height:980px) and (max-device-height:1136px){
	.c-page5-title{top:7.6%;}
	.c-page5-word{top:19%;}
	.c-page5-computer{bottom:9.4%;}
	.c-page5-people{bottom:6.3%;}
}
@media screen and (device-width:320px) and (device-height:568px){
	.c-page5-title{top:7.6%;}
	.c-page5-word{top:19%;}
	.c-page5-computer{bottom:9.4%;}
	.c-page5-people{bottom:6.3%;}
}
/*技术类岗位页面动画*/
@-webkit-keyframes tada2{0%{opacity:1;-webkit-transform:scale(0.1);transform:scale(0.1)}
40%{opacity:1;-webkit-transform:scale(1.3);transform:scale(1.3)}
100%{opacity:1;-webkit-transform:scale(1);transform:scale(1)}
}
.c-page5-people{opacity:0;-webkit-animation:tada2 .4s linear 0.1s 1;-moz-animation:tada2 .4s linear 0.1s 1;
	-ms-animation:tada2 .4s linear 0.1s 1;animation:tada2 .4s linear 0.1s 1;-webkit-animation-fill-mode:forwards}

@-webkit-keyframes fadeInLeft{0%{opacity:0;-webkit-transform:translateX(-100px);transform:translateX(-100px)}
100%{opacity:1;-webkit-transform:translateX(0);transform:translateX(0)}
}
.c-page5-computer1{opacity:0;-webkit-animation:fadeInLeft 0.6s linear 0.7s 1;-moz-animation:fadeInLeft 0.6s linear 0.7s 1;-ms-animation:fadeInLeft 0.6s linear 0.7s 1;
	animation:fadeInLeft 0.6s linear 0.7s 1;-webkit-animation-fill-mode:forwards}

@-webkit-keyframes out{0%{opacity:0;}100%{opacity:1;}}
.c-page5-computer2{opacity:0;-webkit-animation:out 0.5s linear 1.9s 1;-moz-animation:out 0.5s linear 1.9s 1;-ms-animation:out 0.5s linear 1.9s 1;
	animation:out 0.5s linear 1.9s 1;-webkit-animation-fill-mode:forwards}
@-webkit-keyframes fadeInLeft1{0%{opacity:0;-webkit-transform:translateX(-150px);transform:translateX(-150px)}
50%{-webkit-transform:translateX(0px);transform:translateX(0px)}
70%{-webkit-transform:translateX(-50px);transform:translateX(-50px)}
100%{opacity:1;-webkit-transform:translateX(0);transform:translateX(0)}
}
/*@-webkit-keyframes fadeInLeft1{0%{opacity:0;-webkit-transform:translateX(-50px);transform:translateX(-50px)}
100%{opacity:1;-webkit-transform:translateX(0);transform:translateX(0)}
}*/
.c-page5-word{opacity:0;-webkit-animation:fadeInLeft1 .6s linear 2.5s 1;-moz-animation:fadeInLeft1 .6s linear 2.5s 1;-ms-animation:fadeInLeft1 .6s linear 2.5s 1;
	animation:fadeInLeft1 .6s linear 2.5s 1;-webkit-animation-fill-mode:forwards}
/* =============================技术类岗位页面动画结束 ========================================*/
/*网站运营类岗位页面动画*/
.c-page6-people{opacity:0;-webkit-animation:tada2 .4s linear 0.1s 1;-moz-animation:tada2 .4s linear 0.1s 1;
	-ms-animation:tada2 .4s linear 0.1s 1;animation:tada2 .4s linear 0.1s 1;-webkit-animation-fill-mode:forwards}

.c-page6-circle{opacity:0;-webkit-animation:out 0.5s linear 0.6s 1;-moz-animation:out 0.5s linear 0.6s 1;-ms-animation:out 0.5s linear 0.6s 1;
	animation:out 0.5s linear 0.6s 1;-webkit-animation-fill-mode:forwards}
.c-page6-num1{opacity:0;-webkit-animation:out 0.5s linear 1.2s 1;-moz-animation:out 0.5s linear 1.2s 1;-ms-animation:out 0.5s linear 1.2s 1;
	animation:out 0.5s linear 1.2s 1;-webkit-animation-fill-mode:forwards}
.c-page6-num2{opacity:0;-webkit-animation:out 0.5s linear 1.8s 1;-moz-animation:out 0.5s linear 1.8s 1;-ms-animation:out 0.5s linear 1.8s 1;
	animation:out 0.5s linear 1.8s 1;-webkit-animation-fill-mode:forwards}
.c-page6-num3{opacity:0;-webkit-animation:out 0.5s linear 2.4s 1;-moz-animation:out 0.5s linear 2.4s 1;-ms-animation:out 0.5s linear 2.4s 1;
	animation:out 0.5s linear 2.4s 1;-webkit-animation-fill-mode:forwards}

@-webkit-keyframes fadeInRight{0%{opacity:0;-webkit-transform:translateX(100px);transform:translateX(100px)}
100%{opacity:1;-webkit-transform:translateX(0);transform:translateX(0)}
}
.c-page6-word{opacity:0;-webkit-animation:fadeInRight .6s linear 3s 1;-moz-animation:fadeInRight .6s linear 3s 1;-ms-animation:fadeInRight .6s linear 3s 1;
	animation:fadeInRight .6s linear 3s 1;-webkit-animation-fill-mode:forwards}
/* =============================网站运营类岗位页面动画结束 ========================================*/
/*职能类岗位页面动画*/
.c-page7-people{opacity:0;-webkit-animation:tada2 .4s linear 0.1s 1;-moz-animation:tada2 .4s linear 0.1s 1;
	-ms-animation:tada2 .4s linear 0.1s 1;animation:tada2 .4s linear 0.1s 1;-webkit-animation-fill-mode:forwards}
.c-page7-box{opacity:0;-webkit-animation:fadeInRight .6s linear 0.6s 1;-moz-animation:fadeInRight .6s linear 0.6s 1;-ms-animation:fadeInRight .6s linear 0.6s 1;
	animation:fadeInRight .6s linear 0.6s 1;-webkit-animation-fill-mode:forwards}
.c-page7-word{opacity:0;-webkit-animation:fadeInRight .6s linear 1.3s 1;-moz-animation:fadeInRight .6s linear 1.3s 1;-ms-animation:fadeInRight .6s linear 1.3s 1;
	animation:fadeInRight .6s linear 1.3s 1;-webkit-animation-fill-mode:forwards}
/* =============================职能类岗位页面动画结束 ========================================*/
/*8*/
@-webkit-keyframes out1{0%{opacity:0;}
	30%{opacity:0.4;}
	65%{opacity:0.7;}
	100%{opacity:1;}}
.c-page8-word1{opacity:0;-webkit-animation:out1 1.2s linear 0.1s 1;-moz-animation:out1 1.2s linear 0.1s 1;-ms-animation:out1 1.2s linear 0.1s 1;
	animation:out1 1.2s linear 0.1s 1;-webkit-animation-fill-mode:forwards}
.c-page8-word2{opacity:0;-webkit-animation:out1 1.2s linear 1.4s 1;-moz-animation:out1 1.2s linear 1.4s 1;-ms-animation:out1 1.2s linear 1.4s 1;
	animation:out1 1.2s linear 1.4s 1;-webkit-animation-fill-mode:forwards}
@-webkit-keyframes top{0%{opacity:0;-webkit-transform:translateY(-300px);transform:translateX(-300px)}
100%{opacity:1;-webkit-transform:translateX(0);transform:translateX(0)}
}
.c-page8-email{opacity:0;-webkit-animation:top 0.6s linear 2.7s 1;-moz-animation:top 0.6s linear 2.7s 1;-ms-animation:top 0.6s linear 2.7s 1;
	animation:top 0.6s linear 2.7s 1;-webkit-animation-fill-mode:forwards}
/* =============================8 ========================================*/

/*gaojie*/
.g_shouBG{background-color: #3abaf7;}
.g_indquanName{width: 84.3%;margin: 0 auto;margin-top: 3.2%;}
.g_jingcaiP{position: absolute;width: 67.9%;top: 16.3%;left: 17%;z-index:10;}
.g_newYeazhao{width: 40.4%;margin: 0 auto;padding-top:8.3%;overflow: hidden;}
.g_pinLogo{width: 31.2%;margin: 0 auto;overflow: hidden;position: absolute;bottom: 10.5%;left: 33.3%;}
.g_weareWho{background-color: #ff7f58;}
.g_weareTell{width: 70.6%;margin: 9.6% 0px 8.5% 11.2%}
.g_paga2five,.g_paga3five{width: 42.9%;margin: 0 auto;}
.g_shezuGuang{background-color: #59afff;}
.g_wecandoIt{width: 87.3%;margin: 6.7% 0px 6.5% 8%;}
.g_yingxiaoLei{background-color: #9ad159;}
.g_yingXiaotop{width: 45.8%;margin: 6.2% 0px 0px 12.5%;}
.g_kehuNiuxin{width: 51.7%;margin: 3% 0px 0px 12.5%;}
.g_shuJdian{width: 68.3%;margin: 0px 0px 4.5% 10.8%;position: relative;bottom: 7%;position: absolute;}
.g_shuzuBG{width:100%;position: relative;z-index: 4;}
.g_yuanQan{width: 6%;position: absolute;right: 42.2%;top: 25.4%;}
.g_yuanQan1{width: 5%;position: absolute;left: 41%;top: 47.7%;}
.g_yuanQan2{width: 9%;position: absolute;left: 30.9%;top:1.4%;}
.g_yuanQan3{width: 9.2%;position: absolute;left: 7.7%;top: 34%;}
.g_yuanQan4{width: 4.1%;position: absolute;right: 1.4%;bottom: 10%;}
.g_yuanQan5{width: 4.1%;position: absolute;left: 0.5%;bottom: 1%;}
.g_yuanQan6{width: 6%;position: absolute;left: 56.4%;bottom: 32.2%;}
.g_yuanQan7{width: 8.8%;position: absolute;left: 32.5%;bottom: 13%;}
.g_theMan{width: 33.3%;position: absolute;right: 12.9%;bottom: 6.8%;z-index: 5;}
/*1*/
.g_jingcaiP{opacity:0;-webkit-animation:tada2 .4s linear 0.1s 1;-moz-animation:tada2 .4s linear 0.1s 1;
	-ms-animation:tada2 .4s linear 0.1s 1;animation:tada2 .4s linear 0.1s 1;-webkit-animation-fill-mode:forwards}
.g_newYeazhao{opacity:0;-webkit-animation:fadeInRight .6s linear 0.6s 1;-moz-animation:fadeInRight .6s linear 0.6s 1;-ms-animation:fadeInRight .6s linear 0.6s 1;
	animation:fadeInRight .6s linear 0.6s 1;-webkit-animation-fill-mode:forwards}
.g_pinLogo{opacity:0;-webkit-animation:out 0.5s linear 1.3s 1;-moz-animation:out 0.5s linear 1.3s 1;-ms-animation:out 0.5s linear 1.3s 1;
	animation:out 0.5s linear 1.3s 1;-webkit-animation-fill-mode:forwards}


.g_weareTell{opacity:0;-webkit-animation:fadeInLeft1 .6s linear 0.1s 1;-moz-animation:fadeInLeft1 .6s linear 0.1s 1;-ms-animation:fadeInLeft1 .6s linear 0.1s 1;
	animation:fadeInLeft1 .6s linear 0.1s 1;-webkit-animation-fill-mode:forwards}
.g_paga2five{opacity:0;-webkit-animation:out 0.5s linear 0.85s 1;-moz-animation:out 0.5s linear 0.85s 1;-ms-animation:out 0.5s linear 0.85s 1;
	animation:out 0.5s linear 0.85s 1;-webkit-animation-fill-mode:forwards}


.g_wecandoIt{opacity:0;-webkit-animation:fadeInLeft1 .6s linear 0.1s 1;-moz-animation:fadeInLeft1 .6s linear 0.1s 1;-ms-animation:fadeInLeft1 .6s linear 0.1s 1;
	animation:fadeInLeft1 .6s linear 0.1s 1;-webkit-animation-fill-mode:forwards}
.g_paga3five{opacity:0;-webkit-animation:out 0.5s linear 0.85s 1;-moz-animation:out 0.5s linear 0.85s 1;-ms-animation:out 0.5s linear 0.85s 1;
	animation:out 0.5s linear 0.85s 1;-webkit-animation-fill-mode:forwards}

.g_theMan{opacity:0;-webkit-animation:tada2 .4s linear 0.1s 1;-moz-animation:tada2 .4s linear 0.1s 1;
	-ms-animation:tada2 .4s linear 0.1s 1;animation:tada2 .4s linear 0.1s 1;-webkit-animation-fill-mode:forwards}
.g_kehuNiuxin{opacity:0;-webkit-animation:fadeInLeft1 .6s linear 0.6s 1;-moz-animation:fadeInLeft1 .6s linear 0.6s 1;-ms-animation:fadeInLeft1 .6s linear 0.6s 1;
	animation:fadeInLeft1 .6s linear 0.6s 1;-webkit-animation-fill-mode:forwards}
.g_shuzuBG{opacity:0;-webkit-animation:fadeInLeft 0.6s linear 1.2s 1;-moz-animation:fadeInLeft 0.6s linear 1.2s 1;-ms-animation:fadeInLeft 0.6s linear 1.2s 1;
	animation:fadeInLeft 0.6s linear 1.2s 1;-webkit-animation-fill-mode:forwards}
.g_yuanQan{opacity:0;-webkit-animation:out 0.5s linear 1.8s 1;-moz-animation:out 0.5s linear 1.8s 1;-ms-animation:out 0.5s linear 1.8s 1;
	animation:out 0.5s linear 1.8s 1;-webkit-animation-fill-mode:forwards}
.g_yuanQan1{opacity:0;-webkit-animation:out 0.5s linear 2.3s 1;-moz-animation:out 0.5s linear 2.3s 1;-ms-animation:out 0.5s linear 2.3s 1;
	animation:out 0.5s linear 2.3s 1;-webkit-animation-fill-mode:forwards}
.g_yuanQan2{opacity:0;-webkit-animation:out 0.5s linear 2.8s 1;-moz-animation:out 0.5s linear 2.8s 1;-ms-animation:out 0.5s linear 2.8s 1;
	animation:out 0.5s linear 2.8s 1;-webkit-animation-fill-mode:forwards}
.g_yuanQan3{opacity:0;-webkit-animation:out 0.5s linear 3.3s 1;-moz-animation:out 0.5s linear 3.3s 1;-ms-animation:out 0.5s linear 3.3s 1;
	animation:out 0.5s linear 3.3s 1;-webkit-animation-fill-mode:forwards}
.g_yuanQan5{opacity:0;-webkit-animation:out 0.5s linear 3.8s 1;-moz-animation:out 0.5s linear 3.8s 1;-ms-animation:out 0.5s linear 3.8s 1;
	animation:out 0.5s linear 3.8s 1;-webkit-animation-fill-mode:forwards}
.g_yuanQan6{opacity:0;-webkit-animation:out 0.5s linear 4.3s 1;-moz-animation:out 0.5s linear 4.3s 1;-ms-animation:out 0.5s linear 4.3s 1;
	animation:out 0.5s linear 4.3s 1;-webkit-animation-fill-mode:forwards}
.g_yuanQan7{opacity:0;-webkit-animation:out 0.5s linear 4.8s 1;-moz-animation:out 0.5s linear 4.8s 1;-ms-animation:out 0.5s linear 4.8s 1;
	animation:out 0.5s linear 4.8s 1;-webkit-animation-fill-mode:forwards}
.g_yuanQan4{opacity:0;-webkit-animation:out 0.5s linear 5.3s 1;-moz-animation:out 0.5s linear 5.3s 1;-ms-animation:out 0.5s linear 5.3s 1;
	animation:out 0.5s linear 5.3s 1;-webkit-animation-fill-mode:forwards}


